* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#root {
    display: flex;
    flex-direction: column;
}

.home {
    padding: 100px 0;

}

/*/////////////
HEADER STYLES 
/////////////*/
.header {
    display: flex;
    flex: row;
    background-color: grey;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.headerInicio {
    color: white;
    padding-left: 20px;
    text-decoration: none;
    list-style-type: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.nav a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}


/*//////////
MAIN STYLES 
//////////*/
.main {
    padding-top: 100px;
}

.divBotonesFuera {
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.116);
}

.divBotones {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 10px 0;
}

.divBotonAgregarCarrito {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.styleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.Cards {
    margin: 20px;
    align-items: center;
    padding: 20px;
}

.cardBody {

    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cardImg {
    width: 50%;
}

.itemDetailImg img {
    height: 150px;
}

.mainCards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardSeleccion {
    margin: 100px;
}

.mainDetalle {
    padding-top: 100px;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*////////////
FOOTER STYLES 
////////////*/

.footer {
    background-color: yellow;
    padding: 0.5rem 0;
    text-align: center;
    margin-top: auto;
}

.carrito {
    padding: 100px 0;
}