@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tiendaOnlineClass {
    font-family:'Bebas Neue', cursive;
    font-size: 80px;
    padding-left: 20px;
}

.categorias {
    font-family: 'Bebas Neue', cursive;
    color:rgb(138, 238, 245) ;
    font-size: 50px;
    padding-left: 20px;
}

.mainDetalle {
    display: flex;
    justify-content: center;    
}

.detalleProducto {
    font-family: 'Bebas Neue', cursive;
}

.home {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn_ingrese {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.header {
    display: flex;
    flex: row;
    background-color: grey;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.headerInicio {
    color: white;
    padding-left: 20px;
    text-decoration: none;
    list-style-type: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.nav a {
    color: white;
    text-decoration: none;
    list-style-type: none;
}


.main {
    padding-top: 100px;
}

.divBotonesFuera {
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.116);
}

.divBotones {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 10px 0;
}

.divBotonAgregarCarrito {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.styleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.Cards {
    margin: 20px;
    align-items: center;
    padding: 20px;

}

.cardBody {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cardImg {
    width: 50%;
}

.itemTitle {
    font-size: 15px;
}

.itemPrecio {
    font-style: italic;
    font-weight: bolder;
    background-color: rgb(138, 238, 245);
}

.itemDetailImg img {
    height: 200px;
}

.mainCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.cardSeleccion {
    margin: 50px;
}

.detalleTituloProducto {
    font-size:medium;
    padding:20px;
}

.detallePrecio {
    font-size: 20px;
    background-color: rgb(138, 238, 245);
    border-radius: 5px;
    padding: 5px;  
}

.detalleCarrito {
    padding: 10px 0 20px 0;
}

.footer {
    background-color: rgb(138, 238, 245);;
    padding: 0.5rem 0;
    text-align: center;
    margin-top: auto;
}

.tituloCarrito {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    padding-left: 20px;
}

.carrito {
    padding: 100px 0;
}

.card_carrito {
    margin-top: 20px;
}

.carritoBotones {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.carritoPrecioFinal {
    margin: 50px 0;
}

.carritoNoHayNada {
    margin: 20px 0;
    text-align: center;
}

.divCarritoVacio {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.btn_seguirCompra {
    text-align: center;
}

.tituloPrecioFinal {
    font-family:'Bebas Neue', cursive;
    font-size: 30px;
}

.precioFinal {
    font-size: xx-large;
    background-color: yellow;
    padding: 20px;
}

.formulario_input {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-top: black dotted;
}

#nombre {
    margin-bottom: 10px;

}

#email {
    margin-bottom: 10px;
}