.header {
    display: flex;
    flex: row;
    background-color: grey;
    position: fixed;
    width: 100%;
}

.header_nav {
    display: flex;
    flex-direction: row;
}

.footer {
    padding-top: 500px;
}